# python
__pycache__/
*.pyc
*.pyo
.venv/
.env
venv-smart-energy/

# notebooks & outputs
.ipynb_checkpoints/
*.ipynb_convert/
*.nbconvert.ipynb

# logs
logs/

# Models (generated)
models/   

# ignore tmp 
tmp/

# ignore experimental figure versions
figures/v[1-8]/

# ignore version folders in tables
tables/v[1-9]/
tables/v1[0-1]/

# other
TODO
